body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e4d8;
}

#container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 640px;
    width: 640px;
    border: 2px solid black;
}

#resize-btn {
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

#resize-btn:hover {
	background-color:#5cbf2a;
}

#resize-btn.myButton:active {
	position:relative;
	top:1px;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #ed4b11;
}